*.a diff=lfs
*.ai diff=lfs
*.bmp diff=lfs
*.blend diff=lfs
*.cubemap diff=lfs
*.dae diff=lfs
*.dds diff=lfs
*.eps diff=lfs
*.exr diff=lfs
*.fbx diff=lfs
*.flac diff=lfs
*.gif diff=lfs
*.gltf diff=lfs
*.hdr diff=lfs
*.jpeg diff=lfs
*.jpg diff=lfs
*.m4a diff=lfs
*.mat diff=lfs
*.meta -text
*.mp3 diff=lfs
*.mp4 diff=lfs
*.ogg diff=lfs
*.otf diff=lfs
*.pdf diff=lfs
*.png diff=lfs
*.psd diff=lfs
*.sbsar diff=lfs
*.sf diff=lfs
*.tga diff=lfs
*.tif diff=lfs
*.tiff diff=lfs
*.ttf diff=lfs
*.wav diff=lfs
*.xcf diff=lfs